@charset "utf-8";
/* CSS Document */
      <style>
            p.m {
            width: 600px;
          }
          IMG.s {
            width: 30px;
            eight: 30px
          }
          IMG.em {
            width: 100px;
            height: 50px
          }
          IMG.t {
            opacity: 0.3

          }
        </style>
